<%- include('../partials/header') %>

<h1>All Contacts</h1>
<table id="list">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% contacts.forEach(function(contact) { %>
      <tr>
        <td><a href="/contacts/<%= contact._id %>"><%= contact.name %></a></td>
        <!-- <td><%= contact.phoneNumber %></td> -->
        <td>favorite</td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>