<%- include('../partials/header') %>


  <section id="show-page">
    <h1>Contact</h1>
    <div id="name">Name: </div>
    <div id="contact-name"><%= contact.name %></div>
    <div id="email">Email: </div>
    <div id="contact-email"><%= contact.email %></div>
    <div id="phoneNumber">Phone Number: </div>
    <div id="contact-phone-number"><%= contact.phoneNumber %></div>
    <div id="Birthday">Birthday: </div>
    <div id="contact-birthday"><%= contact.birthday %></div>
    <a href="/contacts/<%= contact._id %>/edit">Edit</a>
</section>
    <h2>Address</h2>
     <% if (addresses.length) {%>
    <table>
      <thead>
        <tr>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <% addresses.forEach((address) => { %>
          <tr>
            <td><%= address.street %></td>
            <td><%= address.city %></td>
            <td><%= address.state %></td>
            <td><%= address.country %></td>
            <td><%= address.zip %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Address Yet</h5>
    <% } %>
    <a id="add-address" href="/contacts/<%= contact._id %>/addresses/new">Add Address</a>
    <a id="edit-address" href="/contacts/<%= contact._id %>/addresses/edit">Edit Address</a>
  
    
    <%- include('../partials/footer') %>